---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <div class="max-w-4xl mx-auto py-20 px-4">
    <h1 class="px-2 mb-8 font-bold text-3xl">Contact Form</h1>
    <iframe
      data-tally-src="https://tally.so/embed/w8kqqY?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
      width="100%"
      title="Heic Converter Contact form"
      height="276"></iframe>
  </div>
</Layout>
<script is:inline src="https://tally.so/widgets/embed.js"></script>
