---
import { WebpComponent } from "../components/webp.component";
import Layout from "../layout/Layout.astro";
const title = "Convert HEIC to WEBP for free";
const description =
  "HEIC to WebP: Optimize your images by converting HEIC files to WebP format, ensuring faster loading times and reduced file sizes, directly on your device.";
const ogImage = "/og-image/heic-to-webp.png";
const ogTitle = "HEIC to WEBP: Convert HEIC to high-quality WEBPs for free.";
---

<Layout
  title={title}
  description={description}
  ogImage={ogImage}
  ogTitle={ogTitle}
>
  <div class="max-w-4xl mx-auto px-4">
    <h1 class="text-center font-bold text-4xl mt-12 mb-8">
      Convert HEIC to WEBP
    </h1>
    <WebpComponent client:visible />
    <div class="mt-20">
      <h2 class="text-2xl font-bold mb-8 text-center">HEIC to WEBP Features</h2>
      <ul class="space-y-4">
        <li>
          <strong>HEIC to WebP Converter:</strong> Convert HEIC images to WebP for
          optimized web usage.
        </li>
        <li>
          <strong>Convert HEIC to WebP on iPhone:</strong> Directly convert your
          HEIC files to WebP on your iPhone.
        </li>
        <li>
          <strong>Multiple HEIC to WebP:</strong> Batch convert multiple HEIC images
          to WebP.
        </li>
        <li>
          <strong>Merge HEIC to WebP:</strong> Easily merge several HEIC files into
          a single WebP file.
        </li>
        <li>
          <strong>Free HEIC to WebP Converter:</strong> Convert your HEIC files to
          WebP at no cost.
        </li>
        <li>
          <strong>Convert HEIC File to WebP Free Online:</strong> Use our online
          tool to freely convert HEIC to WebP.
        </li>
      </ul>
    </div>
    <div class="my-20">
      <h2 class="text-2xl font-bold mb-8 text-center">
        Why Convert HEIC to WEBP
      </h2>
      <p class="text-pretty">
        Converting HEIC files to WebP is a smart choice if you want to optimize
        your images for the web. WebP is a modern image format that provides
        superior compression, resulting in smaller file sizes without
        compromising on quality. This makes your website load faster and
        improves the overall user experience. Our HEIC to WebP converter is easy
        to use and works on iPhone, Mac, Windows, and other devices. You can
        batch convert multiple HEIC files to WebP quickly and efficiently.
        Additionally, our service is completely free and processes all
        conversions on your device, ensuring your data remains secure and
        private. Whether you are a web developer looking to enhance site
        performance or a user wanting to share images online, converting HEIC to
        WebP is an excellent option.
      </p>
    </div>
  </div>
</Layout>
