<div class="max-w-4xl mx-auto p-4">
  <h2 class="text-3xl font-bold text-center mb-16">
    Frequently Asked Questions
  </h2>
  <div class="space-y-8">
    <div>
      <h3 class="font-semibold mb-2">What are HEIC files?</h3>
      <p class="text-zinc-800">
        HEIC (High Efficiency Image Coding) is a file format for images and
        image sequences. It offers high compression efficiency, saving space
        while maintaining high image quality. HEIC is commonly used on Apple
        devices.
      </p>
    </div>
    <div>
      <h3 class="font-semibold mb-2">
        Why should I convert HEIC files to other formats?
      </h3>
      <p class="text-zinc-800">
        HEIC files works well with Apple devices but formats like PDF, PNG,
        JPEG, or WebP enhances compatibility across various devices and
        platforms, ensuring your images can be easily accessed and shared.
      </p>
    </div>
    <div>
      <h3 class="font-semibold mb-2">How do you handle my data?</h3>
      <p class="text-zinc-800">
        All conversions are processed locally on your device to ensure your data
        remains private and secure. No files are uploaded to external servers.
      </p>
    </div>
    <div>
      <h3 class="font-semibold mb-2">
        What devices are compatible with your converter?
      </h3>
      <p class="text-zinc-800">
        Our converter supports a wide range of devices, including iPhones and
        Mac computers, allowing you to convert HEIC files directly on your
        device without any hassle.
      </p>
    </div>
    <div>
      <h3 class="font-semibold mb-2">How can this service be free?</h3>
      <p class="text-zinc-800">
        Our HEIC converter is completely free to use, with no hidden fees. We
        use on device methods which make coverting zero cost. So, providing it
        free is a no brainer.
      </p>
    </div>
    <div>
      <h3 class="font-semibold mb-2">Is this converter safe to use?</h3>
      <p class="text-zinc-800">
        Yes, it is safe. Conversions are done on your own device, ensuring your
        files are not exposed to external threats and your privacy is
        maintained.
      </p>
    </div>
  </div>
</div>
