<h2 class="text-3xl font-bold text-center mb-16">Why Choose HEIC Converter</h2>
<div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6 sm:gap-y-10">
  <div class="p-4">
    <h3 class="text-2xl font-semibold mb-4 text-pretty text-center">
      Multiple Formats
    </h3>
    <p class="text-zinc-700 text-sm text-center">
      Effortlessly convert your HEIC images into multiple formats including PDF,
      PNG, WebP, and JPG,.
    </p>
  </div>
  <div class="p-4">
    <h3 class="text-2xl font-semibold mb-4 text-pretty text-center">Privacy</h3>
    <p class="text-zinc-700 text-sm text-center">
      Ensure full privacy as all conversions are processed locally on your
      device, without any data being uploaded to external servers.
    </p>
  </div>
  <div class="p-4">
    <h3 class="text-2xl font-semibold mb-4 text-pretty text-center">Free</h3>
    <p class="text-zinc-700 text-sm text-center">
      Access all the features of our HEIC converter without any hidden
      fees—truly free for everyone.
    </p>
  </div>
  <div class="p-4">
    <h3 class="text-2xl font-semibold mb-4 text-pretty text-center">Quality</h3>
    <p class="text-zinc-700 text-sm text-center">
      Our HEIC converter converts images to to best quality without losing any
      details.
    </p>
  </div>
  <div class="p-4">
    <h3 class="text-2xl font-semibold mb-4 text-pretty text-center">Speed</h3>
    <p class="text-zinc-700 text-sm text-center">
      Convert your HEIC images to other formats in a matter of seconds.
    </p>
  </div>
  <div class="p-4">
    <h3 class="text-2xl font-semibold mb-4 text-pretty text-center">
      Ease of Use
    </h3>
    <p class="text-zinc-700 text-sm text-center">
      Our HEIC converter is designed to be user-friendly and easy to use.
    </p>
  </div>
</div>
