---
import { Image } from "astro:assets";
import Logo from "../assets/logo.svg";
---

<footer class="relative py-20 flex flex-wrap container mx-auto max-w-4xl">
  <div class="w-full md:w-1/2 px-4">
    <a aria-label="Home" href="/">
      <div class="flex justify-center">
        <Image src={Logo} alt="HEIC Converter logo" loading="eager" />

        <!-- <h1 class="font-bold">Stater</h1> -->
      </div>
    </a>
    <p class="font-medium text-lg text-green-600 mt-5 text-center">
      HEIC Conversion made Simple, Secure and Private
    </p>
  </div>
  <div class="w-1/2 md:w-1/4 px-4 mt-8 md:mt-0 font-medium">
    <ul class="space-y-4">
      <li><a class="hover:underline" href="/">Home</a></li>

      <li>
        <a class="hover:underline" href="/heic-to-pdf">HEIC to PDF</a>
      </li>

      <li>
        <a class="hover:underline" href="/heic-to-jpg">HEIC to JPG</a>
      </li>

      <li>
        <a class="hover:underline" href="/heic-to-png">HEIC to PNG</a>
      </li>

      <li>
        <a class="hover:underline" href="/heic-to-webp">HEIC to WEBP</a>
      </li>
    </ul>
  </div>
  <div class="w-1/2 md:w-1/4 px-4 mt-8 md:mt-0 font-medium">
    <ul class="space-y-4">
      <li><a class="hover:underline" href="/contact">Contact</a></li>
      <li><a class="hover:underline" href="/blog">Blog</a></li>
      <li>
        <a class="hover:underline" href="/tos">Terms of service</a>
      </li>
      <li>
        <a class="hover:underline" href="/privacy">Privacy policy</a>
      </li>
    </ul>
  </div>
  <div class="flex justify-center w-full mt-20">
    <a href="https://www.ontoplist.com/marketing-agencies/" target="_blank"
      ><Image
        src="https://www.ontoplist.com/images/ontoplist31.png?id=667f88615838f"
        alt="Best Digital Marketing Agencies - OnToplist.com"
        inferSize={true}
      /></a
    >
  </div>
</footer>
