---
import { Image } from 'astro:assets';
import Logo from "../assets/logo.svg";
---

<header class="border-b">
  <nav
    class="max-w-4xl mx-auto flex items-center flex-wrap py-2 px-4"
  >
    <div class="flex items-center flex-shrink-0 text-white mr-2">
      <a href="/" class="text-xl sm:text-2xl font-semibold text-gray-800">
        <Image src={Logo}  alt="HEIC Converter logo" loading="eager" />
      </a>
    </div>
    <div class="ml-2 flex gap-2">
      <button
        class="font-semibold px-4 py-2 hover:bg-zinc-100 rounded flex items-center relative"
        id="appsDropdownButton"
      >
        Tools <span class="text-[8px] mt-1 ml-1">&#9660;</span>
      </button>
      <div
        class="absolute hidden bg-white text-gray-800 border rounded shadow-lg w-34 mt-10 border z-30"
        id="appsDropdown"
      >
        <a
          href="/heic-to-pdf/"
          class="block p-3 hover:bg-zinc-100 whitespace-nowrap">HEIC to PDF</a
        >
        <a
          href="/heic-to-jpg/"
          class="block p-3 hover:bg-zinc-100 whitespace-nowrap">HEIC to JPG</a
        >
        <a
          href="/heic-to-png/"
          class="block p-3 hover:bg-zinc-100 whitespace-nowrap">HEIC to PNG</a
        >
        <a
          href="/heic-to-webp/"
          class="block p-3 hover:bg-zinc-100 whitespace-nowrap">HEIC to WEBP</a
        >
      </div>
      <a
        class="font-semibold px-4 py-2 hover:bg-zinc-100 rounded flex items-center"
        href="/blog">Blog</a
      >
    </div>
  </nav>
</header>

<script>
  const appsDropdownButton = document.getElementById("appsDropdownButton");
  const appsDropdown = document.getElementById("appsDropdown");

  if (appsDropdownButton && appsDropdown) {
    appsDropdownButton.addEventListener("click", () => {
      appsDropdown.classList.toggle("hidden");
    });

    window.addEventListener("click", (event) => {
      if (
        event.target instanceof Node &&
        !appsDropdownButton.contains(event.target) &&
        !appsDropdown.contains(event.target)
      ) {
        appsDropdown.classList.add("hidden");
      }
    });
  }
</script>
