<header class="border-b">
    <nav
      class="container max-w-4xl mx-auto flex items-center flex-wrap py-2 px-4"
    >
      <div class="flex items-center flex-shrink-0 text-white mr-2">
        <a
          href="/"
          class="text-xl sm:text-2xl font-semibold text-gray-800"
        >
          <img
            src="assets/logo.svg"
            height="50"
            width="50"
            alt="HEIC Converter logo"
          />
        </a>
      </div>
      <div class="ml-2 flex gap-2">
        <p-menu #menu [model]="items" [popup]="true" />
        <button
          class="font-semibold px-4 py-2 hover:bg-zinc-100 rounded flex items-center"
          (click)="menu.toggle($event)"
        >
          Tools <span class="text-[8px] mt-1 ml-1">&#9660;</span>
        </button>
        <a
          class="font-semibold px-4 py-2 hover:bg-zinc-100 rounded flex items-center"
          href="/blog"
        >
          Blog
        </a>
      </div>
    </nav>
  </header>